#home-widget { 
    border-image: url('ui/images/start-bg.png') 0 0 0 0;
}

#lbl {
    background-color: yellow;
}

/* #load-button {
    background-color: black;
    border-radius: 0%;
}



#dots {
    background-color: green;
    border-radius: 0%;
} */
