#main { 
    border-image: url('ui/images/start-bg.png') 0 0 0 0;
}
/* 
#settings {
    border-image: url('ui/images/start-bg.png') 0 0 0 0;
} */

#setts {
    background-color: aqua;
}

/* #load-button {
    background-color: black;
    border-radius: 0%;
}



#dots {
    background-color: green;
    border-radius: 0%;
} */
