#main { 
    border-image: url('ui/images/start-bg.png') 0 0 0 0;
}

#settings-widget {
    border-image: url('ui/images/start-bg.png') 0 0 0 0;
}

#setts {
    background-color: rgba(150,150,150,50);
    border-radius: 20%;
}

/* #load-button {
    background-color: black;
    border-radius: 0%;
}



#dots {
    background-color: green;
    border-radius: 0%;
} */
