GPSPhoto==2.2.3
numpy
opencv_python==4.6.0.66
Pillow==9.2.0
PyQt5
exifread
piexif
torch
--extra-index-url https://download.pytorch.org/whl/cu113
torchvision
--extra-index-url https://download.pytorch.org/whl/cu113